body { background: #97a42d; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 52px; display: flex; }
.block-sms-0 { color: #c51fd3; font-size: 18px; margin-bottom: 5px; }
.block-sms-1 { color: #ca829e; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #36d027; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #a9daf9; font-size: 16px; margin-bottom: 5px; }
.block-user-4 { color: #a81f20; font-size: 17px; margin-bottom: 5px; }
.block-config-5 { color: #60d97e; font-size: 19px; margin-bottom: 5px; }
.block-filter-6 { color: #dd4112; font-size: 14px; margin-bottom: 5px; }